---
---
{% include header.html %}


<main class="container">

  <a href="clashofclans.html" class="card">
    <div class="img-box">
      <img src="img/img1.png" alt="Clash of Clans">
    </div>
    <h2>Clash of Clans</h2>
    <p>Estrategia y construcción de aldeas.</p>
  </a>

  <a href="clashroyale.html" class="card">
    <div class="img-box">
      <img src="img/img.2.png" alt="Clash Royale">
    </div>
    <h2>Clash Royale</h2>
    <p>Cartas, acción y estrategia en tiempo real.</p>
  </a>

  <a href="brawlstars.html" class="card">
    <div class="img-box">
      <img src="img/img.3.png" alt="Brawl Stars">
    </div>
    <h2>Brawl Stars</h2>
    <p>Combates rápidos y multijugador.</p>
  </a>

</main>
{% include footer.html %}
