---
---
{% include header.html %}

 <style>
    .img-suave {
      width: 300px;
      height: 180px;
      object-fit: cover;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
    }
  </style>

<main class="container">
<a href="clashofclans.html" class="card">
  <img src="img1.png" alt="Clash Of Clans" class="img-suave">
  <h2>Clash of Clans</h2>
<p>Estrategia y construcción de aldeas.</p>
</a>


<a href="clashroyale.html" class="card">
  <img src="img2.png" alt="Clash Royale" class="img-suave">
  <h2>Clash Royale</h2>
<p>Cartas, acción y estrategia en tiempo real.</p>
</a>


<a href="brawlstars.html" class="card">
  <img src="img3.png" alt="Brawl Stars" class="img-suave">
<h2>Brawl Stars</h2>
<p>Combates rápidos y multijugador.</p>
</a>
</main>

{% include footer.html %}
