---
---
{% include header.html %}


<main class="container">
<a href="clashofclans.html" class="card">
  <img src="img/img1.png" alt="Clash Of Clans" class="img-clans">
  <h2>Clash of Clans</h2>
<p>Estrategia y construcción de aldeas.</p>
</a>


<a href="clashroyale.html" class="card">
  <img src="img/img.2.png" alt="Clash Royale" class="img-clash">
  <h2>Clash Royale</h2>
<p>Cartas, acción y estrategia en tiempo real.</p>
</a>


<a href="brawlstars.html" class="card">
  <img src="img/img.3.png" alt="Brawl Stars" class="img-brawl">
<h2>Brawl Stars</h2>
<p>Combates rápidos y multijugador.</p>
</a>
</main>

{% include footer.html %}
