* {


body {
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
color: white;
min-height: 100vh;
}


.header {
text-align: center;
padding: 60px 20px;
}


.container {
max-width: 1000px;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
padding: 20px;
}


.card {
  background: rgba(255,255,255,0.1);
  padding: 25px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  overflow: hidden; /* 🔑 evita cortes raros */
  transition: transform 0.3s;
}



.card:hover .img-suave {
  transform: scale(1.05);
}


img-suave {
  width: 100%;          /* se adapta a la card */
  height: 160px;        /* tamaño controlado */
  object-fit: contain;  /* NO recorta logos */
  border-radius: 16px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}


  
.content {
max-width: 800px;
margin: auto;
padding: 40px 20px;
text-align: center;
}


.btn {
display: inline-block;
margin-top: 20px;
padding: 10px 20px;
background: #ffcc00;
color: black;
border-radius: 30px;
text-decoration: none;
font-weight: 600;
}


.footer {
text-align: center;
padding: 20px;
font-size: 0.9rem;
opacity: 0.7;
}
